/* * {
    box-sizing: border-box;
    
}  */
        
header {
    background-image: url(assets/pokloni.png);
    background-size: cover;
    background-position: center;
    width: 855px;
    margin: 0 15%;
    height: 567px;  
}  

.imglogo{
    padding: 15% 30% 0px 30%;
}

.headermain{
    background: rgba(255, 255, 255, 0.7);
    height: 168px;
    border-radius: 34px;
    flex-wrap: wrap;
    display: flex;
    position: relative;
    width: 658px;
    top: 40px;
    left: 100px;
}


.title {
    color: brown;
    font-size: 75px;
    padding: 6% 12%;
}

main {
    font-size: 30px;
    text-align: center;
    padding: 0;
    
}

.mainupper{
    height: 850px;
    width: auto;
    font-size: 30px;
}

.lowermain{
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding: 8% 20%;
}


.lowermain img {
    width: 100%;
}
p {
padding: 0 25%;
} 

.photos {

    width: 40%;


}
.photos .title{
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: -7px;
}
.content {
    text-align: center;
    font-size: 25px;
    padding: 5%;
    position: relative;
    color: white;
}

.articlecontainer {
    height: 180px;
  background-color: #be0f34;
}

.buttoncontainer {
box-sizing: border-box;
}


button {
    font-size: 25px;
    background: white;
    border: 5px solid #be0f34;
    padding: 5px;
    border-radius: 15px;
  }

main .socialnetwork {
background-color: #be0f34;
color: #ffffff;
text-align: center;
  padding: 5px;
}

main .fa-brands {
    color: white;
}

footer {
    text-align: center;
}


